.cabecera{
    background-color: black;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    padding: 10px;
}

.navegacion{
    min-width: 50%;
}

.lista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;

}
.enlace{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight:500;

}




.body{
    background-color: rgb(255, 227, 227);
}








.cuerpo_principal{
    margin-bottom: 100px;
    margin-top: 100px;
    
}
.seccion_1{
    background-color:rgb(201, 204, 213);
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
}

.titulo_cuerpo{
    padding-left: 350px;
font-size: 30px;
font-family: 'Montserrat', sans-serif;
font-weight:900;

}
.novedades_seccion_1{
display: flex;
flex-direction: row;
justify-content: center;
}
.contenedor_seccion_1{
    background-color:rgb(147, 181, 198);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;

}

.contenedor_1{
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

}

.img_novedades{
    padding-top: 30px;
    padding-bottom: 30px;
}

.enlace_novedades{
    background-color: white;
    text-decoration: none;
    color:black;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;

}
.parrafo_novedades{
    font-size: 18px;
font-family: 'Montserrat', sans-serif;

}

.seccion_2{
    background-color: rgb(201, 204, 213);
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}
.titulo_cuerpo_1{
    font-size: 30px;
font-family: 'Montserrat', sans-serif;
font-weight:900;

}

.articulo_cuerpo_2{
    margin-left: 30px;
    margin-right: 30px;
}







.pie{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.instagram{
    margin-right: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.img_insta{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 5px;
}
.enlace_pie{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.facebook{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.img_facebook{
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 5px;
}


.cuerpo_principal_plan{
    background-color: rgb(201, 204, 213);
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom:40px;
    padding-top:40px;
}

.titulo_plan{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
}

.semanas{
    background-color: rgb(147, 181, 198);
    margin-top: 30px;
    margin-bottom: 30px;
    height: 600px;
    width: 400px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.cuerpo_principal_recetas{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.titulo_principal{

    font-size: 30px;
font-family: 'Montserrat', sans-serif;
font-weight:900;
}


.clasif_recetas{
    font-size: 22px;
font-family: 'Montserrat', sans-serif;
font-weight:700;
padding-left: 20px;
}

.receta{
    margin-top:40px;
    margin-bottom: 40px;
}
.nombre_receta{

    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
    padding-left: 20px;

}
.pasos_receta{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    padding-left: 20px;

}
.img_receta{
    margin-left: 400px;

}
.parrafo{
    font-size: 22x;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    padding-left: 20px;
    margin-bottom: 10px;

}
